MaxAirSpeed 220
StallSpeed 100
BatteryMinReserve 30
RunwayAltitude 320

ServoControl Xplane.XplaneControl(48050, "localhost", 49000)
Sensors Xplane.XplaneSensors()
ElevatorControl SurfaceControl.SurfaceControl(0, [(-1.0, 0.0), (1.0, 255.0)])
AileronControl SurfaceControl.SurfaceControl(1, [(-1.0, 0.0), (1.0, 255.0)])
RudderControl SurfaceControl.SurfaceControl(2, [(-1.0, 0.0), (1.0, 255.0)])
ThrottleControl SurfaceControl.SurfaceControl(3, [(0.0, 0.0), (1.0, 255.0)])
GearControl SolenoidControl.SolenoidControl (4)
FlapControl SurfaceControl.SurfaceControl(5, [(0.0, 0.0), (1.0, 255.0)])
CommandControl CommandControl.CommandServer(48800)
FlightPlanLoopStart 1

AttitudeControl
        # For each range of airspeeds, there are different PID tuning parameters.
        # That is because as the airspeed gets lower, controls get "mushy", or need more
        # deflection to effect the same response.
        # The AirSpeedCategories is a list of 2-tuples containing the airspeed min and max for that
        # category index. The index of the airspeed is found by walking through the list.
        # The airspeed index is then used to index into the PID tuning parameters to find which
        # set should be used.
        # In order to avoid rapid oscillation between parameter sets, a hysteresis is employed.
        AirSpeedCategories [(40,140), (140, 400)]

        PitchPIDTuningParams [(.19, .19, 0), (.07, .045, 0)]
        YawPIDTuningParams [(0.05, 0.05, .00), (0.01, 0.01, .00)]
        RollRatePIDTuningParams [(.035, 0.065, 0), (.02, 0.04, 0)]

        RollPitchRatio  .002
        RollRateCurve  [(0.0, 0.0), (3.0, 1.0), (10.0, 20.0)] 
        #JournalFileName "attitude.csv"
        #JournalPitch True
        #JournalRoll True
        #JournalYaw True

FlightControl
        ClimbRateLimits (-2000.0, 2000.0)        # feet / minute
        PitchPIDLimits [(0.0,20.0), (30.0,8.0), (45.0,0.0)]  # (roll, min degrees, max degrees)
        DesiredAirSpeed 250.0

        ClimbPitchPIDTuningParams [.0005, .0005, 0.0004]
        AirspeedPitchPIDTuningParams [.1, .05, 0]
        ThrottlePIDTuningParams [.003, .008, 0.03]
        AltitudeAchievementMinutes  0.5

        #JournalFileName "flight.csv"
        #JournalPitch True

        PitchPIDSampleTime 200
        ThrottlePIDSampleTime 100
        MinClimbAirSpeed 140.0
        MaxPitchChangePerSample 5.0
        MaxRoll 30.0
        TurnRate 120.0
        InterceptMultiplier 20
        ClimbPitchCurve [(100.0, 1.0), (1000.0, 10.0)]

        ClimbRateCurve [(0.0,0.0), (20.0, 20.0), (100.0, 300.0), (1000.0, 2000.0)]
        RollCurve   [(0.0, 0.0), (5.0, 3.0), (10.0, 15.0), (40.0, 30.0)]

        EngineOutPitchCurve [10.0, 5.0, 3.0, -1.0, -5.0, -7.0, -10.0]

        SwoopAltitudeReversal 250
        DescentCurve [(0.0, 0.0), (10.0, -10.0), (100.0, -500.0)]

TakeoffControl
        RudderPIDTuningParams (.1, .1, 0)
        InitialRudder 0.0
        TakeoffPitch  10.0
        PositiveLiftPowerSetting .6

LandingControl
        FlareDescentCurve [(0.0, 0.0), (10.0, -50.0), (30.0, -100.0), (200.0, -200.0)]
        PitchPIDTuningParams [.0009, .0009, 0.00004]
        ClimbRateAchievementSeconds 2.0
        PitchPIDSampleTime 200
        SlipPIDTuningParams (0.00005, 0.00005, 0.00005)
        FlarePowerCurve [(0.9, 0.0), (2.0, 0.0), (10.0, 0.15), (40.0, 0.1), (50.0, 0.0)]
        ThresholdAgl 0.0
