TestSteps
    TestStep START
        input_value (0.0, 0, 10.0)
        periods 5.0
    TestStep CHANGE_GOAL
        input_value 0.0
        periods 5.0
    TestStep CHANGE_GOAL
        input_value -10.0
        periods 5.0
       
VariancePenalty 1
MaxPositiveFirstDerivative 1
MaxNegativeFirstDerivative 1
PositiveFirstDerivativePenalty 0.5
NegativeFirstDerivativePenalty 0.5
SecondDerivativePenalty 5.0
GoalCrossingPenalty 1


# PID
parameters
    parameter
        Min 0.0
        Max 0.5
        SmallestStepSize .0005
        SearchStart 0.007
        Identifier 'P'
    parameter
        Min 0.0
        Max 0.5
        SmallestStepSize .0005
        SearchStart .008
        Identifier 'I'
    parameter
        Min -.0005
        Max .0005
        SmallestStepSize .000001
        SearchStart 0.0
        Identifier 'D'
